::-webkit-scrollbar { 
    display: none; 
}
.clipboard-container {
    border-color:black;
    overflow:auto;
}

html{
    border-style: solid;
    border-color: slategray;
    border-width: medium;
}
body{
    background-color:whitesmoke;
}

.active{
    background-color:hsla(213, 100%, 50%, 0.8);
    color: white; 
}
#clipboard-ul{
    padding: 0;
    margin: 0;
}
#clipboard-ul li{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-family: Arial, Helvetica, sans-serif;
outline: none;
cursor: default;
font-size: 0.8rem;
padding: 0.323rem;
}