/* WEBSITE CSS */
/* COMMON */
* {
    box-sizing: border-box;
}
body {
  margin:0;
  font-family: 'Oxygen', sans-serif;
  /* font: normal 10px Verdana, Arial, sans-serif; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.row{
  height: auto;
  padding: 10px;
}
.row.downloaddiv{
      background-color: #005ec8;
      background-image: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#0f8afc80),color-stop(100%,#005ec8f5));
      background-image: -webkit-linear-gradient(45deg,#0f8afc80 0,#005ec8f5 100%);
      background-image: -moz-linear-gradient(45deg,#0f8afc80 0,#005ec8f5 100%);
      background-image: -ms-linear-gradient(45deg,#0f8afc80 0,#005ec8f5 100%);
      background-image: -o-linear-gradient(45deg,#0f8afc80 0,#005ec8f5 100%);
      background-image: linear-gradient(45deg,#0f8afc80 0,#005ec8f5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f8afc80', endColorstr='#005ec8f5', GradientType=1);
}
.home{
      font-weight: bold;
      font-size: 20px !important;
      letter-spacing: 1px;
      line-height: 21px;
}
h1 {
  
  text-align: center;
  color: #fff;

}
h2,h3 {
  text-align: center;
  color: #fff;
}

.downloads{
      text-align: center;
}

a:link, a:visited {
    color: #10ade9;
    text-decoration: none;
}

/* NAVBAR */

.topnav {
  z-index: 100;
  overflow: hidden;
  background-color: #005ec8;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #10ade9d9;
}

.topnav a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fff;
  color: #005ec8;
}

.active {
  background-color: #005ec8;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none !important;
    display: block;
    text-align: left;
  }

}

.right{
    float: right;
}
.left{
    float: left;
}

.topmargin{margin-top: 48px;}

/* DOWNLOAD BUTTONS */

   .downloads .download {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background-color: #00171F;
    opacity: 0.9;
    margin: 15px;
    padding: 20px 24px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #00171F;
    cursor: pointer;
    color: #fff;
    width: 160px;
    /* height: 111px; */
    font-size: 18px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mainimg{
  max-width: 240px;
}
.downloads .download:hover {
    text-decoration: none;
    border: 1px solid #ff4b00;
    opacity: 1;
   
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* GETTING STARTED */

.row.started {
    background-color: #004385;
    text-align: center;
    vertical-align: top;
}

img.sshots_img {
    height: auto;
    max-width: 381px;
    width: 85%;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.sshots_spn{
margin: 15px;
    display: inline-block;
    vertical-align: top;
}

.sshots_p{
      max-width: 320px;
    text-align: center;
    color:white;
    margin: inherit;
    font-size: 20px;
}

/* SEE ACTION */
.row.see_action {
    /* background-color: #6DAEDB; */
    background-color: #056cd8;
    text-align: center;
    vertical-align: top;
}
/* FEATURES */
.row.features {
  /* background-color: #1B4353; */
  background-color: #004385;
  text-align: center;
  vertical-align: top;
}
.features_ul li{
  color:white;
  font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.features_div{
  display: inline-flex;
  margin: 15px;
}

/* FREE DOWNLOAD */
.row.freedownload {
  background-color: #056cd8;
  text-align: center;
  vertical-align: top;
}
/* FOOTER */